/*
* preset.css 
*/
/**
* 常用样式
*/
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}
html {
  -webkit-text-size-adjust: 100%;
}
.lay-list {
  font-size: 0;
  letter-spacing: -4px;
}
.lay-list li,
.lay-list > .item {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0;
  vertical-align: top;
}
.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.flex-box > .item {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex-box.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.flex-box.vertical > .item {
  overflow: auto;
}
.flex-box .box-pack {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.help-middle {
  height: 100%;
  font-size: 0;
  text-align: center;
  letter-spacing: -4px;
}
.help-middle::after {
  display: inline-block;
  width: 0;
  height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  content: '';
}
.help-middle > :first-child {
  display: inline-block;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0;
  vertical-align: middle;
}
.cf {
  zoom: 1;
}
.cf::after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}
.ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wp100 {
  width: 100%;
}
.hp100 {
  height: 100%;
}
.pss {
  position: static;
}
.psr {
  position: relative;
}
.psa {
  position: absolute;
}
.psf {
  position: fixed;
}
.fln {
  float: none;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.cln {
  clear: none;
}
.cll {
  clear: left;
}
.clr {
  clear: right;
}
.clb {
  clear: both;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.di {
  display: inline;
}
.vv {
  visibility: visible;
}
.vh {
  visibility: hidden;
}
.ovh {
  overflow: hidden;
  zoom: 1;
}
.ova {
  overflow: auto;
}
.ovs {
  overflow: scroll;
}
.ovv {
  overflow: visible;
}
.cpa {
  clip: auto;
}
.rzn {
  resize: none;
}
.rzv {
  resize: vertical;
}
.rzh {
  resize: horizontal;
}
.curp {
  cursor: pointer;
}
.cura {
  cursor: auto;
}
.curm {
  cursor: move;
}
.bxzcb {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.bxzbb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.zi0 {
  z-index: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.dit {
  display: table-cell;
  width: 8000px;
  *width: auto;
  zoom: 1;
}
.di {
  display: inline;
}
.dn {
  display: none;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.cb {
  clear: both;
}
.tdu {
  text-decoration: underline;
}
.tdl {
  text-decoration: line-through;
}
.tdn {
  text-decoration: none;
}
.tdn:hover {
  text-decoration: none;
}
.eq {
  padding-bottom: 30000px;
  margin-bottom: -30000px;
}
/**
* 行距
*/
.lh32 {
  line-height: 32px;
}
.lh30 {
  line-height: 30px;
}
.lh28 {
  line-height: 28px;
}
.lh26 {
  line-height: 26px;
}
.lh24 {
  line-height: 24px;
}
.lh22 {
  line-height: 22px;
}
.lh20 {
  line-height: 20px;
}
.lh18 {
  line-height: 18px;
}
.lh16 {
  line-height: 16px;
}
.lh14 {
  line-height: 14px;
}
.lh12 {
  line-height: 12px;
}
/**
* 字体
*/
.fz32 {
  font-size: 32px;
}
.fz30 {
  font-size: 30px;
}
.fz28 {
  font-size: 28px;
}
.fz26 {
  font-size: 26px;
}
.fz24 {
  font-size: 24px;
}
.fz22 {
  font-size: 22px;
}
.fz20 {
  font-size: 20px;
}
.fz18 {
  font-size: 18px;
}
.fz16 {
  font-size: 16px;
}
.fz14 {
  font-size: 14px;
}
.fz12 {
  font-size: 12px;
}
.fz0 {
  font-size: 0;
}
.fwn {
  font-weight: normal;
}
.fwb {
  font-weight: bold;
}
.fwbr {
  font-weight: bolder;
}
.fwlr {
  font-weight: lighter;
}
.fsn {
  font-style: normal;
}
.fsi {
  font-style: italic;
}
.fvn {
  font-variant: normal;
}
.fvsc {
  font-variant: small-caps;
}
/**
* 边距
*/
.mar50 {
  margin: 50px;
}
.mar45 {
  margin: 45px;
}
.mar40 {
  margin: 40px;
}
.mar35 {
  margin: 35px;
}
.mar30 {
  margin: 30px;
}
.mar25 {
  margin: 25px;
}
.mar20 {
  margin: 20px;
}
.mar15 {
  margin: 15px;
}
.mar10 {
  margin: 10px;
}
.mar5 {
  margin: 5px;
}
.mar0 {
  margin: 0px;
}
.mt50 {
  margin-top: 50px;
}
.mt45 {
  margin-top: 45px;
}
.mt40 {
  margin-top: 40px;
}
.mt35 {
  margin-top: 35px;
}
.mt30 {
  margin-top: 30px;
}
.mt25 {
  margin-top: 25px;
}
.mt20 {
  margin-top: 20px;
}
.mt15 {
  margin-top: 15px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt0 {
  margin-top: 0px;
}
.mr50 {
  margin-right: 50px;
}
.mr45 {
  margin-right: 45px;
}
.mr40 {
  margin-right: 40px;
}
.mr35 {
  margin-right: 35px;
}
.mr30 {
  margin-right: 30px;
}
.mr25 {
  margin-right: 25px;
}
.mr20 {
  margin-right: 20px;
}
.mr15 {
  margin-right: 15px;
}
.mr10 {
  margin-right: 10px;
}
.mr5 {
  margin-right: 5px;
}
.mr0 {
  margin-right: 0px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb0 {
  margin-bottom: 0px;
}
.ml50 {
  margin-left: 50px;
}
.ml45 {
  margin-left: 45px;
}
.ml40 {
  margin-left: 40px;
}
.ml35 {
  margin-left: 35px;
}
.ml30 {
  margin-left: 30px;
}
.ml25 {
  margin-left: 25px;
}
.ml20 {
  margin-left: 20px;
}
.ml15 {
  margin-left: 15px;
}
.ml10 {
  margin-left: 10px;
}
.ml5 {
  margin-left: 5px;
}
.ml0 {
  margin-left: 0px;
}
/**
* 填充
*/
.pad50 {
  padding: 50px;
}
.pad45 {
  padding: 45px;
}
.pad40 {
  padding: 40px;
}
.pad35 {
  padding: 35px;
}
.pad30 {
  padding: 30px;
}
.pad25 {
  padding: 25px;
}
.pad20 {
  padding: 20px;
}
.pad15 {
  padding: 15px;
}
.pad10 {
  padding: 10px;
}
.pad5 {
  padding: 5px;
}
.pad0 {
  padding: 0px;
}
.pt50 {
  padding-top: 50px;
}
.pt45 {
  padding-top: 45px;
}
.pt40 {
  padding-top: 40px;
}
.pt35 {
  padding-top: 35px;
}
.pt30 {
  padding-top: 30px;
}
.pt25 {
  padding-top: 25px;
}
.pt20 {
  padding-top: 20px;
}
.pt15 {
  padding-top: 15px;
}
.pt10 {
  padding-top: 10px;
}
.pt5 {
  padding-top: 5px;
}
.pt0 {
  padding-top: 0px;
}
.pr50 {
  padding-right: 50px;
}
.pr45 {
  padding-right: 45px;
}
.pr40 {
  padding-right: 40px;
}
.pr35 {
  padding-right: 35px;
}
.pr30 {
  padding-right: 30px;
}
.pr25 {
  padding-right: 25px;
}
.pr20 {
  padding-right: 20px;
}
.pr15 {
  padding-right: 15px;
}
.pr10 {
  padding-right: 10px;
}
.pr5 {
  padding-right: 5px;
}
.pr0 {
  padding-right: 0px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb0 {
  padding-bottom: 0px;
}
.pl50 {
  padding-left: 50px;
}
.pl45 {
  padding-left: 45px;
}
.pl40 {
  padding-left: 40px;
}
.pl35 {
  padding-left: 35px;
}
.pl30 {
  padding-left: 30px;
}
.pl25 {
  padding-left: 25px;
}
.pl20 {
  padding-left: 20px;
}
.pl15 {
  padding-left: 15px;
}
.pl10 {
  padding-left: 10px;
}
.pl5 {
  padding-left: 5px;
}
.pl0 {
  padding-left: 0px;
}
/**
* 文字
*/
.vasp {
  vertical-align: super;
}
.vasb {
  vertical-align: sub;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
.vam {
  vertical-align: middle;
}
.vatt {
  vertical-align: text-top;
}
.vatb {
  vertical-align: text-bottom;
}
.vabl {
  vertical-align: baseline;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.taj {
  text-align: justify;
}
.tala {
  text-align-last: auto;
}
.tall {
  text-align-last: left;
}
.talr {
  text-align-last: right;
}
.talc {
  text-align-last: center;
}
.tdn {
  text-decoration: none;
}
.tdu {
  text-decoration: underline;
}
.tdo {
  text-decoration: overline;
}
.tdl {
  text-decoration: line-through;
}
.ti- {
  text-indent: -9999px;
}
.tja {
  text-justify: auto;
}
.tjiw {
  text-justify: inter-word;
}
.tjii {
  text-justify: inter-ideograph;
}
.ttn {
  text-transform: none;
}
.ttc {
  text-transform: capitalize;
}
.ttu {
  text-transform: uppercase;
}
.ttl {
  text-transform: lowercase;
}
.lts {
  letter-spacing: 0;
}
.lts-4 {
  letter-spacing: -4px;
}
.lts-6 {
  letter-spacing: -6px;
}
.whsn {
  white-space: normal;
}
.whsp {
  white-space: pre;
}
.whsnw {
  white-space: nowrap;
}
.whspw {
  white-space: pre-wrap;
}
.whspl {
  white-space: pre-line;
}
.wobn {
  word-break: normal;
}
.wobk {
  word-break: keep-all;
}
.wobba {
  word-break: break-all;
}
.wownm {
  word-wrap: normal;
}
.wown {
  word-wrap: none;
}
.wowb {
  word-wrap: break-word;
}
.wwb {
  word-break: normal;
  word-wrap: break-word;
}
/**
* 背景
*/
.bgt {
  background: transparent;
}
.bgszct {
  background-size: contain;
}
.bgszcv {
  background-size: cover;
}
/**
* 特殊
*/
.clamp_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  text-overflow: ellipsis;
}
.clamp_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  text-overflow: ellipsis;
}
.clamp_1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  text-overflow: ellipsis;
}
.grayscale {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.flipy {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.flipx {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
