@numberUnit: 1px;
@spacingLength: 20;
@fontSizeLength: 20;
@fontWeightLength: 10;
@lineHeightLength: 20;
@flexLength: 5;

@baseSpacingDiff: 4;
@baseFontSizeDiff: 2;
@baseFontWeightDiff: 100;
@baseLineHeightDiff: 2;

@defaultColors: #000, #111, #222, #333, #444, #555, #666, #777, #888, #999;
